<!-- The navbar -->
<nav class="navbar navbar-light bg-light">
  <!-- The Logo -->
  <div class="col-lg-1">
    <span class="navbar-brand mb-0 h2"><b>Towa</b></span>
  </div>
  <!-- The date -->
  <div class="col-lg-3 nav-item">
    {{ NowDate | date: 'fullDate' }}
  </div>
  <!-- The user -->
  <div class="col-lg-2 nav-item">
    David Rada
  </div>
  <!-- for the dropdown menu for surprise-->
  <div class="col-lg-2">
    <ul class="nav-item dropdown">
      <p style="cursor: pointer;" class="allign-item-down nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
        Supervise
      </p>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a style="cursor: pointer;" class="dropdown-item" href="#">Weekly Summary</a>
        <div class="dropdown-divider"></div>
        <a style="cursor: pointer;" class="dropdown-item" href="#">Per Person Week</a>
      </div>
    </ul>
  </div>
   <!-- for the dropdown menu for manage-->
   <div class="col-lg-2">
    <ul class="nav-item dropdown">
      <p style="cursor: pointer;" class="allign-item-down nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage
      </p>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a style="cursor: pointer;" class="dropdown-item" href="#">Business Units</a>
        <div class="dropdown-divider"></div>
        <a style="cursor: pointer;" class="dropdown-item" href="#">Projects</a>
        <div class="dropdown-divider"></div>
        <a style="cursor: pointer;" class="dropdown-item" href="#">People</a>
      </div>
    </ul>
  </div>
   <!-- for the dropdown menu for my account-->
   <div class="col-lg-2">
    <ul class="nav-item dropdown">
      <p style="cursor: pointer;" class="allign-item-down nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        My Account
      </p>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a style="cursor: pointer;" class="dropdown-item" href="#">My Info</a>
        <div class="dropdown-divider"></div>
        <a style="cursor: pointer;" class="dropdown-item" href="#">Change Password</a>
      </div>
    </ul>
  </div>
</nav>