<div class="card text-center" style="width: 30rem;">
  <h2 class="card-title text-left">
    Towa
  </h2>

  <p></p>
  <p></p>

    <div>
      <label for="username">User: <input type="text" placeholder="Input Value"></label>
    </div>
    <p></p>

    <div>
      <label for="username">Password: <input type="text" placeholder="Input Value"></label>
    </div>
    <p></p>

    <div class="checkbox">
        <label><input type="checkbox" value="">Remember Me</label>
    </div>

    <div class="checkbox">
        <label><input type="checkbox" value="">Remember Password</label>
    </div>
    <p></p>
    <p></p>

    <button type="button" class="btn btn-secondary btn-lg">Sign In</button>

</div>


  